@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  background-color: #cc99f9;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(246, 246, 246);
  width: 5px;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: black;
}
