@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

::-webkit-scrollbar {
  background-color: #cc99f9;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(246, 246, 246);
  width: 5px;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: black;
}
