* {
  line-height: 1.6;
  margin: 0;
}

.Blogs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
}
.blogcard {
  padding: 2rem;
  /* background-color: red; */
}
.blogcard:hover {
  box-shadow: 1px 4px 1px 3px black;
  border: solid black 1px;
}
