* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  background: transparent;
  outline: solid #999 2px;
  height: 60px;
}

a {
  text-decoration: none;
  color: black;
  padding: 0 1.4rem;
  font-size: 1.5em;
  font-weight: 200;
}
.navlinks a:hover {
  text-decoration: underline;
}

.blogname {
  color: #cc99f9;
  font-size: xx-large;
  font-weight: 500;
}
@media screen and (max-width: 599px) {
  .header {
    display: none;
  }
}
