.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  background: #cc99f9;
  outline: solid black 1px;
  height: 60px;
}

.header a {
  text-decoration: none;
  color: white;
  padding: 0 1.4rem;
  font-size: 1.5em;
}
.navlinks a:hover {
  text-decoration: underline;
}

.blogname {
  color: white;
  font-size: 4em;
  padding: 0;
  font-weight: 800;
  font-family: "Fraunces", serif;
}
@media screen and (max-width: 599px) {
  .header {
    display: none;
  }
}
.Navbar {
  position: sticky;
  top: 0;
}
