* {
  box-sizing: border-box;
  line-height: 1.65;
}

.hero {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
@media (min-width: 42em) {
  .hero {
    flex-direction: row;
    min-height: 80vh;
    font-size: 1.15em;
    gap: 1rem;
  }
}
.image-box {
  min-width: 50%;
  min-height: 50vh;
  background-image: url("../../public/florian-klauer-mk7D-4UCfmg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  margin-bottom: 0;
}
.text {
  text-align: justify;
  padding: 1rem;
}
.children {
  display: flex;
  align-items: center;
  animation: loading 2s forwards linear;
}
.title {
  text-align: center;
}
.author {
  margin-top: 0;
  text-decoration: underline;
  color: #313131;
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
