* {
  box-sizing: border-box;
}

.form-container {
  display: grid;
  align-items: center;
  min-height: 80vh;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;
  padding: 1rem;
  gap: 0.4rem;
  min-width: 70%;
  margin: 0.5rem;
}
input {
  font-size: 1em;
  border: 1px solid;
  min-width: 60%;
}
button {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 1em;
  color: white;
  background-color: #cc99f9;
  border: 1px solid black;
  cursor: pointer;
}
.login-btn {
  display: grid;
  place-items: center;
  color: white;
  margin-left: 26.4px;
}

@media screen and (min-width: 43em) {
  .login {
    display: flex;
  }
  .banner {
    min-width: 70%;
    min-height: 100vh;
    background-image: url("../../public/retro-furnish.png");
    background-size: contain;
  }
  .form-container {
    width: 100%;
  }
}
.top-content {
  outline: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
}
.Login-heading {
  font-size: 1.2em;
}
