.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  background-color: #cc99f9;
  height: 60px;
  margin-bottom: 0;
}

.blog-name {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: white;
}

.blog-name:hover {
  border: black 1px solid;
}

.home {
  background-color: transparent;
  background-image: url(../../public/menu_FILL0_wght400_GRAD0_opsz48.svg);
  border: none;
  min-width: 50px;
  min-height: 40px;
}

.dropdown {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 40px;
  right: 0px;
  width: 100%;
  margin: 20px 0px;
  transition: ease-in-out 1s;
}

.dropdown > .navlinks > .links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}
.dropdown > .navlinks > .links > a {
  font-size: 1rem;
  display: block;
  width: 100%;
  color: white;
  font-weight: 500;
  padding: 0.65rem;
}
@media screen and (min-width: 600px) {
  .nav {
    display: none;
  }
}
