.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  background-color: #cc99f9;
  height: 60px;
  margin-bottom: 0;
}

.blog-name {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: white;
}

.blog-name:hover {
  border: black 1px solid;
}

.home {
  background-color: transparent;
  background-image: url(../../public/menu_FILL0_wght400_GRAD0_opsz48.svg);
  border: none;
  min-width: 50px;
  min-height: 40px;
}

.dropdown {
  position: absolute;
  background-color: rgba(0 0 0 /0.1);
  display: flex;
  transform: translateX(-100%);
  justify-content: space-around;
  top: 60px;
  left: 0;
  width: 80%;
  height: 100vh;
  transition: ease-out 0.5s;
  backdrop-filter: blur(0.7rem);
  padding: 25vh 0;
}

.dropdown > .navlinks > .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}
.dropdown > .navlinks > .links > a {
  font-size: 1.3rem;
  width: 100%;
  font-weight: 500;
  padding: 0.65rem;
}
@media screen and (min-width: 600px) {
  .nav {
    display: none;
  }
}
